html {

    width: 100%;
    height: 100%;

}

body {

    margin: 0;
    width: 100%;
    height: 100%;

}

h1 {
  color: black;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
}

p {
  font-size: 20px;
  font-family: 'Karla', sans-serif;
}

.spacing {

    height: 100px;

}
/*******************FONTS********************/
.teko-text {

    font-family: 'Teko', sans-serif;

}

.karla-text {

    font-family: 'Karla', sans-serif;

}

.search-header {

    width: 100%;
    position: fixed;

}

.header-controlls-div {

    background-color: #ffe529;
    width: fit-content;
    margin: 3px;

}

.header-controll {

    padding: 5px;
    color: #171717;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.8vw;
    cursor: pointer;

}

.search-section-div {

    width: 100%;

}

.search-section {

    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

#search-bar-div {

    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

#search-bar {

    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    cursor: text;
    border: solid;
    border-color: #1754a5;
    padding: 5px;
    width: 500px;
    font-size: 17px;

}

#submit-button {

    width: fit-content;
    border: none;
    background: none;

}

#rocket-search {

    width: 50px;
    cursor: pointer;

}

#search-display-tags-div {

    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

}

#tags-title {

    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #1754a5;

}

.tag-select-title {

    margin-bottom: 5px;

}

#tags-display {

    font-style: italic;
    color: #8e949b;

}

#search-display-filters-div {

    background-color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.1);

}

#tags-div {

    display: flex;

}

.tag-select {

    margin: 7px;

}

.tags-input-box {

    border-top: none;
    border-left: solid;
    border-right: none;
    border-bottom: solid;
    border-color: #1a54a6;
    border-radius: 3px;
    padding: 3px;

}

#projects-display-section {

    width: 100%;
    height: 100%;
    background-color: #65758c;
    margin-top: 20px;

}

.projects-row {

    display: flex;

}

.content-row {

    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

.project-card {

    width: 27%;
    height: 250px;
    border-radius: 20px;
    padding: 8px;
    background-image: url(/searchImages/blueprintBackground.jpg);
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-left: 40px;
    cursor: pointer;

}

.project-image-div {

    width: 100%;
    height: 60%;
    background-image: url(/searchImages/blueprintDefault.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.project-decription {

    width: 100%;

}

.project-title {

    font-size: 25px;
    margin-top: 1px;
    margin-bottom: 0;
    color: white;

}

.project-tags {

    margin-top: 5px;
    color: white;
    font-style: italic;
    text-align: center;
    margin-bottom: 0;

}

.project-author {

    color: white;
    text-align: right;
    margin-bottom: 0;

}

@media screen and (max-width: 880px){

    .header-controll{

        font-size: 20px;

    }

}

.modal-background {

    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.project-popup {

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    background-color: white;
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: solid;
    border-width: 0;
    padding: 10px;
    background-image: url(/searchImages/blueprintBackground.jpg);

}

.close {

    color:white;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {

    color:#ffe529;
    text-decoration: none;
    cursor: pointer;

}

.id-hidden {

    display: none;

}

.popup-image-div {

    background-color: white;
    width: 100%;
    height: 60%;

}

.popup-image {

    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.inner-image {

    max-width: 10vw;

}

.popup-title {

    margin-bottom: 0;
    font-size: 28px;
    color: white

}

.popup-author {

    margin-top: 0;
    color: #ffe529;
    font-style: italic;
    font-size: 13px;

}

.popup-description {

    font-size: 20px;
    text-align: center;
    color: white;

}

.popup-tags {

    font-size: 15px;
    text-align: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

}

.popup-links {

    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.popup-github {

    width: fit-content;
    border: none;
    background: none;

}

.github-image {

    cursor: pointer;

}

.popup-contact-div {

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.contact-button{

    border: solid;
    border-width: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    color: black;
    background-color: #ffe529;
    box-shadow: 3px 8px 8px 0px rgba(0, 0, 0, 0.3);

}

.contact-button:hover {

    font-size: 30px;
    color:white;

}