html, body {
    background-color: #DCDCDC; 
    margin: 0;   
    scroll-behavior: smooth;
    width: 75%;
    padding: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.circular-square {
    border-radius: 50%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#avatar{
    height: 300px;
}